# Node
node_modules/
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# React/Vite
client/dist/

# Java/Maven
tests/target/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log